*{
    margin: 0;
    padding: 0;
    /* background: black; */
    font-family: 'Poppins', sans-serif;
}
#footer{
    
          
             padding: 0 0 25px 0; 
       
             font-size: 14px; 
      
}
