*{
    /* background-color: #333333; */
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;

}
.container {
    display: flex;
    flex-wrap: wrap;
}
.contact{
    background-color: #333333;
}

.item {
    flex: 1 0 25%;
    margin: 10px;
    border: 3px solid red;
}
.section-header{
  
    display: inline-block;
        width: 100%;
        justify-content: center;
        justify-items: center;
        text-align: center;
        margin-top: 55px;
}
.section-header h2{
    color: aliceblue;
    
}
p{color: aliceblue;}
.row{
    margin-right: 0 !important;
        margin-left: 0 !important;
        border-radius: 0 !important;
}
